{% extends "app_one/base.html" %}
  {% block body_block %}
    <br>
  <div class="container card w-50">
    <div class="card-body">
      <h2 class="card-title text-center"> Sign Up</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

          <div class="form-group row fieldWrapper">
            {{ form.first_name.errors }}
            <label for="{{ form.first_name.id_for_label}}" class="col-sm-2">First Name:</label>
            <input type="text" name="{{ form.first_name.name}}" class="form-control col-sm-6" id="{{ form.first_name.id_for_label}}" value="" placeholder="First Name">
          </div>
          <div class="form-group row">
            {{ form.first_name.errors }}
            <label for="{{ form.last_name.id_for_label}}" class="col-sm-2">Last Name:</label>
            <input type="text" name="{{ form.last_name.name}}" class="form-control col-sm-6" value="" placeholder="Last Name">
          </div>

          <div class="form-group row">
            {{ form.username.errors }}
            <label for="{{ form.last_name.id_for_label}}" class="col-sm-2">Username:</label>
            <input type="text" name="{{ form.username.name}}"class="form-control col-sm-6" value="" placeholder="Username">
          </div>

          <div class="form-group row">
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label}}" class="col-sm-2">Email:</label>
            <input type="email" name="{{ form.email.name}}"class="form-control col-sm-6" value="" placeholder="example@gmail.com">
          </div>

          <div class="form-group row">
            {{ form.password.errors }}
            <label for="{{ form.password.id_for_label}}" class="col-sm-2">Password:</label>
            <input type="password" name="{{ form.password.name}}"class="form-control col-sm-6" value="" placeholder="password">
          </div>

          <input type="submit" name="" class="btn btn-primary" value="Create Account">


      </form>
    </div>

  </div>

  {% endblock %}
